#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 250, 134
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Capitalizer Settings"
FONT 9, "Segoe UI", 400, 0, 1
BEGIN
    LTEXT           "UPPERCASE hotkey:", -1, 16, 20, 78, 10
    CONTROL         "", IDC_HK_UPPER, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 98, 18, 136, 14
    LTEXT           "lowercase hotkey:", -1, 16, 44, 78, 10
    CONTROL         "", IDC_HK_LOWER, "msctls_hotkey32", WS_BORDER | WS_TABSTOP, 98, 42, 136, 14
    AUTOCHECKBOX    "Start with Windows", IDC_AUTOSTART, 16, 74, 140, 10
    DEFPUSHBUTTON   "Save", IDOK, 134, 108, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 188, 108, 50, 16
END
